/* The style of the css is going to have a crusades style */

:root {
    --boxcolor: linear-gradient(#5c5159, #a9a9a9);
    --border: black solid 2px;
    --infocardcolor: white;
}

.hide{
    display: none;
}

/* box rounded edges */
.box {
    border-radius: 20px;
}

main{
    position: relative;
}



/* Buttons */
.reset-btn{
   margin: 5%;
}

.btn {
    background-color: #d0d5d1;
}
.save-btn{
    font-size: 20px;
}

.answer-btn{
    padding: 15px 32px;
}

.end-btn{
    padding: 15px 32px;
}

/* Header bars */
header, footer, .highscorebox{
    text-align: center;
    border: var(--border);
    background-image: var(--boxcolor);
    padding: 7px;
    margin: 5%;
}

footer {
    height: 10%;
}

/* Central container */
article{
    display: flex;
    justify-content: space-between;
    height: 50%;
    margin: 5%;
}

/* backgrounds of the boxes for the center content */
.contentbox, .timerbox{
    border:var(--border);
    background-image: var(--boxcolor);
}

.contentbox{
    display: flex;
    flex: 0 0 72%;
}

.contentinner, .timerbox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 899;
    max-height: 892px;
    min-height: 350px;
}

.contentinner{
    width: 100%;
    height: 100%;
}

.timerbox{
    display: flex;
    flex: 0 0 25%;
}

.titlebox, .questionbox, .infobox, .scorebox{
    background-color: var(--infocardcolor);
}

.titlebox, .infobox{
    border: var(--border);
    z-index: 800;
    flex: 0 0 25%;
    width: 80%;
    margin-top:5%;
}

.titlebox {
    display: flex;
    justify-content: center;
}

.questionbox, .scorebox{
    border: var(--border);
    z-index: 800;
    flex: 0 0 60%;
    width: 80%;
    margin: 5%;
    position: relative;
}

.scorebox {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questionoptions{
    padding: 5%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
}

.next{
   display: flex;
   justify-content: center;
}

.question{
    padding: 5px;
}

.infobox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 
/* ScoreBoard */
.highscorebox{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* Scoreboard font */
.scorescript, .inputname{
    font-size: 20px; 
}

/* SaveBox */
.savebox, .restartbox{
    text-align: center;
    position: absolute;
    border: var(--border);
    background-image: var(--boxcolor);
    width: 300px;
    height: 200px;
    left: 50%;
    top: 50%;
    margin-top:-50px;  
    margin-left:-100px;
    z-index: 999999;
}

/* Img */
.firepit, .templar{
    object-fit: contain;
    z-index: 999; 
    width: 100%;
}

.templar {
    max-height: 100px;
}

.firepit{
    height: 100%;
    position: absolute; 
    bottom: 1px;
}